mixin sVacancy(data)
	// start sVacancy
	+b.SECTION.sVacancy.section#sVacancy&attributes(attributes)
		.container
			mixin content()
				//- .h3 Юрист в отдел маркетинга
				+e.list
					.h5 Обязанности:
					ul
						li Производство комплектующих для поддонов;
						li Работа на&nbsp;пресс-станках.
				+e.list
					.h5 Требования:
					ul
						li Готовность к&nbsp;физическому труду.
				+e.list
					.h5 Условия:
					ul
						li Работа в&nbsp;крупной компании;
						li Сменный график работы;
						li Комфортные условия труда;
						li Конкурентоспособная оплата труда;
						li Полный социальный пакет;
						li Питание.
				a.btn.btn-primary(href="#") откликнуться
			+ddGroup()
				+ddGroupItem('Наладчик-оператор станков', '', 'active')
					+content()
				+ddGroupItem('Водитель погрузчика', '')
					+content()
				+ddGroupItem('Наладчик-оператор станков', '')
					+content()
				+ddGroupItem('Водитель погрузчика', '')
					+content()
	// end sVacancy