mixin sVacancy(data)
	// start sVacancy
	+b.SECTION.sVacancy.section#sVacancy&attributes(attributes)
		.container
			mixin content()
				.h3 Юрист в отдел маркетинга
				+e.list
					.h5 Чем предстоит заниматься:
					ul
						li Разработка типовых форм договоров, разработка смешанных договоров, в&nbsp;том числе разработка и&nbsp;написание оферт для мобильного приложения/сайта, написание лицензионных соглашений;
						li Правовая экспертиза гражданско-правовых договоров, заключаемых в&nbsp;рамках маркетинговых и&nbsp;рекламных услуг (договоры оказания услуг, выполнения работ, поставки, агентские договоры, договоры с&nbsp;самозанятыми, договоры на&nbsp;размещение рекламы, лицензионные соглашения и&nbsp;тд);
						li Составление и&nbsp;проверка протоколов разногласий, дополнительных соглашений, соглашений о&nbsp;расторжении;
						li Подготовка претензий в&nbsp;адрес контрагентов, подготовка ответов на&nbsp;претензии, умение вести деловую переписку
				+e.list
					.h5 Чего мы ждем:
					ul
						li Высшее юридическое образование;
						li Знание ФЗ&nbsp;&laquo;О&nbsp;рекламе&raquo;;
						li Офисный пакет, Консультант +;
						li Внимательность Усидчивость Стрессоустойчивость;
						li Знание гражданского законодательства&nbsp;РФ, в&nbsp;том числе интеллектуального права и&nbsp;авторского права, умение применять их&nbsp;на&nbsp;практике
				+e.list
					.h5 Мы предлагаем:
					ul
						li Работа в&nbsp;крупной динамично развивающейся компании;
						li Официальное трудоустройство;
						li Комфортные условия труда;
						li График работы 5/2;
						li Конкурентоспособная оплата труда
				a.btn.btn-primary(href="#") откликнуться
			+ddGroup()
				+ddGroupItem('Начальник производственно-технического отдела', 'от 50 000 до 70 000 ₽', 'active')
					+content()
				+ddGroupItem('Юрист в отдел маркетинга', 'от 30 000 до 50 000 ₽')
					+content()
				+ddGroupItem('Начальник производственно-технического отдела', 'от 50 000 до 70 000 ₽')
					+content()
				+ddGroupItem('Юрист в отдел маркетинга', 'от 30 000 до 50 000 ₽')
					+content()
	// end sVacancy