.footer {
		
	margin-top: auto;
	--sPT: #{rem(48)};
	--sPB: #{rem(48)};
	// --sTPB: #{rem()};
	background-color: $gray-900;
	color: $gray-200;
	margin-top: auto;
	@include media-breakpoint-up(md) {
		--sPT: #{rem(56)};
		--sPB: #{rem(56)};
	}
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(64)};
		--sPB: #{rem(64)};
	}
	&__row{
		--bs-gutter-y: #{rem(16)};
		align-items: center;
		padding-bottom: rem(17);
		margin-bottom: rem(16);
		position: relative;
		// border-bottom: 1px solid $gray-200;
		&::after {
			content: '';
			position: absolute;
			display: block;
			width: calc(100% - var(--bs-gutter-x));
			height: 1px;
			background-color: $gray-200;
			left: calc(var(--bs-gutter-x) / 2);
			bottom: 0;

		}
		// @include media-breakpoint-up(lg) {
		// 	--bs-gutter-y: #{rem(24)};
		// }
		@include media-breakpoint-up(sm) {
			padding-bottom: rem(25);
			margin-bottom: rem(20.800);
		}
	}
	&__soc {
		display: flex;
		align-items: center;
		p {
			margin-bottom: 0;
			font-size: rem(14);
			margin-right: rem(12);
		}
		a {
			svg {
				*[fill="#E6E5EA"] {
					@include mt;
				}
			}
			&:hover {
				svg {
					*[fill="#E6E5EA"] {
						fill: currentColor !important;
					}
				}
			}
		}
	}
	&__tel {
		display: flex;
    align-items: center;
		font-size: rem(18);
		font-weight: 700;
		line-height: 1.3em;
		@include media-breakpoint-up(xl) {
			font-size: rem(20);
		}
		@include media-breakpoint-up(xxl) {
			font-size: rem(24);
			margin-right: rem(59);
		}
		&:not(:hover) {
			color:  $gray-200;
		}
		.icon {
			flex: 0 0 auto;
			font-size: rem(24);
			// color: $gray-200;
			margin-right: rem(12);
		}
		span {
			
		}
	}
	&__text {
		max-width: rem(636);
		font-size: rem(12);
		line-height: 1.3em;
		@include media-breakpoint-up(lg) {
			font-size: rem(14);
		}
	}
	&__caption {
		font-size: rem(12);
		line-height: 1.4em;
		@include media-breakpoint-up(lg) {
			font-size: rem(14);
		}
	}
	&__company {
		font-size: rem(12);
		line-height: 1.4em;
		display: flex;
		align-items: center;
		@include media-breakpoint-up(lg) {
			font-size: rem(14);
		}
		@include media-breakpoint-up(xxl) {
			margin-right: rem(33);
		}
		&:not(:hover) {
			color: $gray-200;
		}
		.icon {
			flex: 0 0 auto;
			font-size: rem(24);
			margin-right: rem(12);
		}
	}
	&__info-row {
		--bs-gutter-y: #{rem(16)};
	}
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}
