
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-form"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3 Заполните анкету

				+input("", 'text', 'Представьтесь*')(required value='Кобакс Иван Иванович').is-invalid
				+input("", 'tel', 'Контактный номер*')(required)
				+input("", 'email', 'Электронная почта')
				span.form-wrap__input-title Прикрепите резюме
				+e.filepond-wrap
					input( type="file" class="filepond" name="filepond")
					+e.content
						+icon('upload')
						| Выберите или перетащите файлы
				+policy()
				+e.BUTTON.btn.btn.btn-primary(type="submit"  ) отправить
	// #modal-form

	div(id="modal-question"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3 Задать вопрос

				+input("", 'text', 'Представьтесь*')(required)
				+input("", 'tel', 'Контактный номер*')(required)
				+input("", 'textarea', 'Дополнительная информация')
				+e.send-question
					+icon('whatsapp')
					| Задать вопрос в WhatsApp
				+policy()
				+e.BUTTON.btn.btn.btn-primary(type="submit"  ) отправить
	// #modal-question
	
	// end modals