mixin sInterested(data)
	// start sInterested
	+b.SECTION.sInterested.section#sInterested&attributes(attributes)
		.container
			+b.section-title.text-center
				h3 Вас заинтересовала наша продукция?
			+e.row.row
				.col-sm-6.col-lg-4
					+e.item
						+icon('sInterested-icon-1')
						h5 Закажите образец бесплатно 
							a(href='mailto:sales@cobax.ru') sales@cobax.ru
				.col-sm-6.col-lg-4
					+e.item
						+icon('sInterested-icon-2')
						h5 Заявка на встречу<br>с представителем 
							a(href='mailto:sales@cobax.ru') sales@cobax.ru
				.col-sm-6.col-lg-4
					+e.item
						+icon('sInterested-icon-3')
						h5 Остались вопросы, звоните 
							a(href='tel:+79000000000') +7&nbsp;(920)&nbsp;301-96-93
	// end sInterested