// start .sSlider
.sSlider {
	--sPT: #{rem(48)};
	--sPB: #{rem(48)};
	// --sTPB: #{rem()};
	background-color: $gray-400;
	@include media-breakpoint-up(md) {
		--sPT: #{rem(40)};
		--sPB: #{rem(40)};
	}
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(64)};
		--sPB: #{rem(64)};
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	&__slider {
		overflow: visible;
		padding-bottom: rem(40);
		@include media-breakpoint-up(md) {
			padding-bottom: rem(44.800);
		}
		@include media-breakpoint-up(lg) {
			padding-bottom: rem(49.600);
		}
		.swiper-wrapper {
			align-items: center;
		}
	}
	&__slide {
		@include block(636, 389);
		width: 100%;
		max-width: rem(327);
		// @include media-breakpoint-up(md) {
		// 	max-width: rem(636);
		// }
		@include media-breakpoint-up(lg) {
			max-width: rem(636);
		}
		@include media-breakpoint-down(sm) {
			--ratio: 166/271;
		}
		img {
			@include mt;
			border-radius: 8px;
			// transform: scale(0.8);
		}
		&.swiper-slide-active {
			img {
				// transform: scale(1);
			}
		}
	}
	.swiper-pagination {
		bottom: 0;
		&-bullet {
			--swiper-pagination-bullet-horizontal-gap: #{rem(8)};
			background-color: $body-color;
			&-active, &:hover {
				background-color: $primary;
			}
		}
	}
	.swiper-button-hand {
		--swiperArrowPosition: #{rem(24)};
		--swiperArrowSize: 32px;
		--swiperColorDef: #fff;
		--swiperBgDef: transparent;
		--swiperBgDefHover: transparent;
		border: none;
		box-shadow: none;
		
		bottom: rem(40);
		@include media-breakpoint-up(sm) {
			--swiperArrowSize: #{rem(48)};
			--swiperArrowPosition: #{rem(-5.734)};
			
			bottom: rem(44.800);
			border-width: 3px;
		}
		@include media-breakpoint-up(lg) {
			--swiperArrowSize: #{rem(64)};
			--swiperArrowPosition: #{rem(0)};

			bottom: rem(49.600);
		}
		@include media-breakpoint-up(xl) {
			--swiperArrowPosition: #{rem(80)};
		}
		.icon {
			fill: none;
			stroke: currentColor;
			stroke-width: 3px;
			font-size: 32px;
			@include media-breakpoint-up(sm) {
				font-size: 40px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 64px;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSlider