mixin sVideo(data)
	// start sVideo
	+b.SECTION.sVideo.section#sVideo&attributes(attributes)
		+e.container.container
			+b.section-title.text-center
				h3 Производим композитные паллетные шашки по&nbsp;инновационной технологии
				.h5 Мы&nbsp;специализируемся на&nbsp;производстве паллетных блоков из&nbsp;прочных композитных материалов, что является основным фактором устойчивости паллета и&nbsp;безопасности заказов
			+e.video-wrap
				<iframe src="https://www.youtube.com/embed/Sx9iHHcxFYk" title="GOODLAK 2020" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			//- +e.text За&nbsp;девять лет работы COBAX стал одним из&nbsp;самых передовых заводов и&nbsp;вторым по&nbsp;величине производителем паллетных блоков из&nbsp;древесной стружки в&nbsp;Европе. На&nbsp;заводе ежедневно работают 100&nbsp;сотрудников, которые отвечают за&nbsp;эффективную работу восьми производственных линий, международное и&nbsp;стратегическое сотрудничество, а&nbsp;также развитие предприятия.
	// end sVideo