extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/footer/_footer.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sSizes/_sSizes.pug
include ../blocks/sInfo/_sInfo.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sInterested/_sInterested.pug
include ../blocks/sVideo/_sVideo.pug
include ../blocks/sIndividualOrders/_sIndividualOrders.pug
include ../blocks/sSlider/_sSlider.pug

block variables
	- let  mainPage= 'about-page' 
	- let  bg= '02-about-company.jpg'

block title
	- let  title= "О компании"
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+page-head('О компании', 'Название', 'Название')
		+sInfo('true')
		+sAdvantages('Надёжный сервис')
			+e.slide.swiper-slide
				+card(5, 'В соответствии с вашими запросами', 'Предлагаем индивидуальную упаковку для готовой продукции')
			+e.slide.swiper-slide
				+card(6, 'Укладываемся в&nbsp;интересующие сроки', 'Обеспечиваем бесперебойную доставку в&nbsp;течение дня и&nbsp;365 дней в&nbsp;году')
			+e.slide.swiper-slide
				+card(7, 'Большие объёмы готовой продукции', 'Ежемесячно более 30&nbsp;грузовиков доставляют 1000 м3&nbsp;готовой продукции по&nbsp;России и&nbsp;Белоруссии')
		+sVideo
		+sIndividualOrders
		+sSlider
	+footer()
      



