extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/footer/_footer.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sSizes/_sSizes.pug
include ../blocks/sInfo/_sInfo.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sInterested/_sInterested.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= "Главная"
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+headerBlock 
		+sAdvantages('', 'Скачать последнюю версию независимого ежеквартального контрольного теста Института древесных технологий в&nbsp;соответствии с&nbsp;требованиями EPAL', 'Сертификат испытаний')
			+e.slide.swiper-slide
				+card(1, 'Более устойчивы к&nbsp;деформации', 'После контакта с&nbsp;водой среднее разбухание достигает&nbsp;2% по&nbsp;ширине и&nbsp;4% по&nbsp;высоте')
			+e.slide.swiper-slide
				+card(2, 'Более высокий порог растяжения', 'Среднее сопротивление извлечению&nbsp;&mdash; 5,5&nbsp;кН')
			+e.slide.swiper-slide
				+card(3, 'Более устойчивы к&nbsp;гвоздям', 'Среднее сопротивление поперечному растягивающему усилию =&nbsp;0,25&nbsp;Н/м2')
			+e.slide.swiper-slide
				+card(4, 'Соответствует стандартам IPPC', 'Блоки соответствуют международным фитосанитарным<br>стандартам')
		+sSizes
		+sInfo
		+sPartners
		+sInterested
		
	+footer()
      



