mixin sInfo(one)
	// start sInfo
	+b.SECTION.sInfo.section#sInfo&attributes(attributes)
		.container
			if one
				+e.row.row
					.col-lg-6.col-xxl-auto
						+e.img-wrap
							+img('img/sInfo-img-1.jpg')
					.col-lg-6.col-xxl
						h3 Лучше, чем цельные деревянные паллетные блоки
						h5 Мы&nbsp;специализируемся на&nbsp;производстве паллетных блоков из&nbsp;прочных композитных материалов
						p За&nbsp;девять лет работы COBAX стал одним из&nbsp;самых передовых заводов и&nbsp;вторым по&nbsp;величине производителем паллетных блоков из&nbsp;древесной стружки в&nbsp;Европе. На&nbsp;заводе ежедневно работают 100&nbsp;сотрудников.
			else
				+e.row.row
					.col-lg-6.col-xxl-auto
						+e.img-wrap
							+img('img/sInfo-img-1.jpg')
					.col-lg-6.col-xxl
						h3 Производим композитные паллетные блоки
						h5 Мы&nbsp;специализируемся на&nbsp;производстве паллетных блоков из&nbsp;прочных композитных материалов, что является основным фактором устойчивости паллета и&nbsp;безопасности заказов
						p За&nbsp;девять лет работы COBAX стал одним из&nbsp;самых передовых заводов и&nbsp;вторым по&nbsp;величине производителем паллетных блоков из&nbsp;древесной стружки в&nbsp;Европе. На&nbsp;заводе ежедневно работают 100&nbsp;сотрудников, которые отвечают за&nbsp;эффективную работу восьми производственных линий, международное и&nbsp;стратегическое сотрудничество, а&nbsp;также развитие предприятия.
				+e.row.row
					.col-lg-6.col-xxl-auto
						+e.img-wrap
							+img('img/sInfo-img-1.jpg')
					.col-lg-6.col-xxl
						h3 Композитные блоки&nbsp;&mdash; новый стандарт производства поддонов
						h5 Мы&nbsp;специализируемся на&nbsp;производстве паллетных блоков из&nbsp;прочных композитных материалов, что является основным фактором устойчивости паллета и&nbsp;безопасности заказов
						p За&nbsp;девять лет работы COBAX стал одним из&nbsp;самых передовых заводов и&nbsp;вторым по&nbsp;величине производителем паллетных блоков из&nbsp;древесной стружки в&nbsp;Европе. На&nbsp;заводе ежедневно работают 100&nbsp;сотрудников, которые отвечают за&nbsp;эффективную работу.
	// end sInfo