mixin sInfo(one)
	// start sInfo
	+b.SECTION.sInfo.section#sInfo&attributes(attributes)
		.container
			if one
				+e.row.row
					.col-lg-6.col-xxl-auto
						+e.img-wrap
							+img('img/sInfo-img-1.jpg')
					.col-lg-6.col-xxl
						p Компания ООО &laquo;Кобакс&raquo; входит в&nbsp;состав группы компаний &laquo;Евро Дизайн Групп&raquo;, одного из&nbsp;крупнейших российский производителей мебели и&nbsp;мебельных деталей, с&nbsp;многолетней компетенцией.
						h5 Мы&nbsp;находимся в&nbsp;городе Смоленск&nbsp;&mdash; это удобная транспортная развязка
						p Компания соответствует международным стандартам и&nbsp;имеет право обрабатывать, преобразовывать и&nbsp;продавать продукцию в&nbsp;соответствии с&nbsp;принципами и&nbsp;критериями Лесного попечительского совета.
			else
				+e.row.row
					.col-lg-6.col-xxl-auto
						+e.img-wrap
							+img('img/sInfo-img-1.jpg')
					.col-lg-6.col-xxl
						h3 Мы&nbsp;специализируемся на&nbsp;производстве композитных блоков для поддонов
						h5 Блок изготовлен из&nbsp;прочных композитных материалов, что является основным фактором устойчивости поддона и&nbsp;сохранности заказов
						p Благодаря команде инженеров, технологов, отдела контроля качества и&nbsp;химиков мебельной группы, COBAX становится одним из&nbsp;самых передовых заводов по&nbsp;производству паллетоукладчиков из&nbsp;древесных опилок в&nbsp;России.
						p Мы&nbsp;стремимся продолжать инвестировать в&nbsp;дальнейшее развитие технологий и&nbsp;качества продукции. Завод работает 24&nbsp;часа 7&nbsp;дней в&nbsp;неделю и&nbsp;поддерживает складские запасы, чтобы обеспечить своевременную доставку всем нашим клиентам.
				+e.row.row
					.col-lg-6.col-xxl-auto
						+e.img-wrap
							+img('img/sInfo-img-1.jpg')
					.col-lg-6.col-xxl
						h3 Профессионализм и&nbsp;оперативность
						h5 Выполняем заказы в&nbsp;кратчайшие сроки
						p Высокотехнологичное оборудование и&nbsp;профессионализм сотрудников позволяют быстро обрабатывать крупные объёмы заказов. Наше производство рассчитано на&nbsp;изготовление любых, даже самых крупных партий продукции. Гарантированное качество позволяет нашим клиентам быть уверенными в&nbsp;надежности нашей компании.
	// end sInfo