mixin sMap(data)
	// start sMap
	+b.SECTION.sMap.section#sMap&attributes(attributes)
		.container
			+e.map
				#map
			+e.row.row
				.col-sm-6.col-lg-auto
					h5 Связаться с нами
					a(href="tel: +79000000000") + 7 (900) 000-00-00
					p E-mail: 
						a(href="mailto:cobax@info.ru") cobax@info.ru
				.col-sm-6.col-lg-auto
					h5 Режим работы
					p Понедельник-пятница:<br>с 8:00 до 17:00
				.col-sm-6.col-lg-auto
					h5 Адрес предприятия
					p 214016, Россия, г. Смоленск, ул. Соболева, 113
	// end sMap